[difftool "BeyondCompare4"]
	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
[user]
	name = asierba
	email = asierba@gmail.com
[diff]
	guitool = beyondcompare4
[difftool "beyondcompare4"]
	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = BeyondCompare4
[mergetool "BeyondCompare4"]
	path = C:/Program Files (x86)/Beyond Compare 4/bcomp.exe
	cmd = \"C:/Program Files (x86)/Beyond Compare 4/bcomp.exe\" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
